<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partial/head-meta.ejs') %>
    <title>Avinska</title>
  </head>
  <body>
    <h1><%= name %></h1>
    <h1><%= username %></h1>
    <h1><%= email %></h1>
  </body>
</html>
